<div id="container" class="dark">
    <div id="wrapper">
        <div id="top-bar" class="dark">
            <h1 id="title" class="dark">Gamebase</h1>
            <nav>
                <p class="dark">CATEGORIAS</p>
            </nav>
            <div id="options-buttons">
                <div id="theme-toggler-bar" class="dark">
                    <div id="theme-toggler-circle" class="dark">
                        <div id="theme-toggler-circle-center" class="dark">
                            <img src="./../assets/svg/sun-light.svg" />
                        </div>                    
                    </div>
                </div>
                <div id="profile-icon">
                    <img src="./../assets/svg/profile-dark.svg" />
                </div>            
            </div>
        </div>
        <div id="dashboard">
            <div id="welcome-box">
                <img src="./../assets/svg/home-dark.svg" />
                <span class="dark">Bem-vindo a página inicial!</span>
            </div>
        </div>
    </div>    
</div>