<div id="container" class="dark">
    <div id="wrapper">
        <nav id="top-bar" class="dark">
            <div id="compact-menu-icon-div" class="dark">
                <img id="compact-menu-icon-image" src="./../assets/svg/bars-dark.svg" />                      
            </div>  
            <div id="compact-nav-items">
                <div id="compact-nav-categories-item" class="compact-nav-item dark">
                    <span class="dark">CATEGORIAS</span>
                    <img id="compact-categories-image" src="./../assets/svg/arrow-pointing-to-right-dark.svg" />
                    <div id="compact-nav-categories-dropdown" class="dark">
                        <div>
                            <a href="/users" class="dark">
                                Usuários
                            </a>
                        </div>
                        <hr />
                        <div>
                            <a href="/genres" class="dark">
                                Gêneros
                            </a>
                        </div>
                        <hr />
                        <div>
                            <a href="/platforms" class="dark">
                                Plataformas
                            </a>
                        </div>
                        <hr />
                        <div>
                            <a href="/games" class="dark">
                                Jogos
                            </a>
                        </div>
                    </div>  
                </div>
            </div>             
            <h1 id="title" class="dark">Gamebase</h1>
            <div id="full-bar-nav">
                <div id="full-bar-nav-item-categories" class="full-bar-nav-item-div">
                    <span class="dark">CATEGORIAS</span>
                    <div id="full-bar-nav-categories-dropdown" class="dark">
                        <div>
                            <a href="/users" class="dark">
                                Usuários
                            </a>
                        </div>
                        <hr />
                        <div>
                            <a href="/genres" class="dark">
                                Gêneros
                            </a>
                        </div>
                        <hr />
                        <div>
                            <a href="/platforms" class="dark">
                                Plataformas
                            </a>
                        </div>
                        <hr />
                        <div>
                            <a href="/games" class="dark">
                                Jogos
                            </a>
                        </div>
                    </div>
                </div>                
            </div>
            <div id="options-buttons">
                <div id="theme-toggler-bar" class="dark">
                    <div id="theme-toggler-circle" class="dark">
                        <div id="theme-toggler-circle-center" class="dark">
                            <img src="./../assets/svg/sun-light.svg" />
                        </div>                    
                    </div>
                </div>
                <div id="profile-menu-div">
                    <div id="profile-menu-icon-div">
                        <img src="./../assets/svg/profile-dark.svg" />
                    </div>                                        
                </div>            
            </div>
            <div id="profile-menu" class="dark">
                <div id="profile-menu-welcome-div" class="dark">
                    <span id="profile-menu-welcome-message-prefix" class="dark">Olá,&nbsp;</span>
                    <span id="profile-menu-welcome-message-username" class="dark">João dos Santos</span>
                    <span id="profile-menu-welcome-message-suffix" class="dark">!</span>
                </div>
                <hr />
                <a id="profile-menu-logoff-anchor" href="/?logoff=true" class="dark">
                    Sair
                </a>                        
            </div>
        </nav>
        <div id="dashboard">
            <div id="welcome-box">
                <img src="./../assets/svg/home-dark.svg" />
                <span class="dark">Bem-vindo a página inicial!</span>
            </div>
        </div>
    </div>    
</div>