#container.dark {
    background-color: #0A0217;
}

#container.light {
    background-color: #DAD3FB;
}

#container {
    width: 100%;
    min-height: 100vh;
    padding: 6.25rem;
    box-sizing: border-box;
}

#wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

#top-bar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 5rem;
    border-radius: 0.75rem;
    box-sizing: border-box;
}

#top-bar.dark {
    background-color: #100E41;
    border: 0.25rem solid #31246D;
}

#top-bar.light {

}

#title {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    margin-left: 1.5rem;
}

#title.dark {
    color: #FFFFFF;
}

#title.light {

}

#compact-nav {
    display: none;
}

#compact-nav-items-menu {
    display: none;
}

#full-bar-nav {
    margin-left: 4.875rem;        
    box-sizing: border-box;    
    height: 100%;
    width: 100%;
}

.full-bar-nav-item-div {
    padding: 0rem 1.5625rem;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: fit-content;
}

.full-bar-nav-item-div span {
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
}

.full-bar-nav-item-div:hover {
    background-color: #31246D;
    cursor: pointer;
}

.full-bar-nav-item-div span.dark {
    color: #FFFFFF;    
}

.full-bar-nav-item-div span.light {

}

#full-bar-nav-categories-dropdown {    
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    flex-direction: column;
    padding: 0.5rem 1.5625rem;
    width: 18.75rem;
}

#full-bar-nav-categories-dropdown.dark {
    background-color: #0A0217;
    border: 4px solid #31246D;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}

#full-bar-nav-categories-dropdown.light {

}

#full-bar-nav-categories-dropdown div {
    
}

#full-bar-nav-categories-dropdown hr {
    margin: 0;
    width: 100%;
    border-color: #31246D;
}

#full-bar-nav-categories-dropdown div a {
    display: block;
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    font-weight: 500;    
    padding: 1.0625rem 0;
    text-decoration: none;
}

#full-bar-nav-categories-dropdown div a.dark {
    color: #FFFFFF;
}

#full-bar-nav-categories-dropdown div a.light {
    
}

#options-buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-right: 1.5rem;
    gap: 1.5rem;
}

#theme-toggler-bar {
    position: relative;
    width: 1.875rem;
    height: 0.875rem;
    border-radius: 0.75rem;
}

#theme-toggler-bar.dark {
    background-color: #FFFFFF;
}

#theme-toggler-bar.light {

}

#theme-toggler-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
}

#theme-toggler-circle.dark {
    top: -50%;
    left: -50%;
    background-color: #FFFFFF;
}

#theme-toggler-circle.light {
    top: -50%;
    right: 50%;
}

#theme-toggler-circle-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.375rem;
    height: 1.375rem;
    border-radius: 50%;
}

#theme-toggler-circle-center.dark {
    background-color: #000000;
}

#theme-toggler-circle-center.light {

}

#dashboard {
    width: 100%;
    height: 100vh;  
    display: flex;  
    justify-content: center;
    align-items: center;
}

#welcome-box {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    gap: 0.3125rem;
}

#welcome-box span {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

#welcome-box span.dark {
    color: #FFFFFF;
}

#welcome-box span.light {

}

@media only screen and (max-width: 62.5rem){ /*1000px*/
    #full-bar-nav-categories-dropdown {
        width: 6.25rem;
    }
}

@media only screen and (max-width: 51.25rem){ /*820px*/
    #container {
        width: 100%;
        min-height: 100vh;
        box-sizing: border-box;
        padding: 0;
    }

    #top-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 5rem;    
        border-radius: 0;            
    }

    #bars-icon-div {
        margin-left: 1.5rem;
    }

    #title {
        font-size: 1.5rem;
        flex-grow: 1;        
    }

    #compact-nav {
        display: flex;
    }
    
    #full-bar-nav {
        display: none;
    }

    #welcome-box img {
        width: 2rem;
        height: 2rem;
    }

    #welcome-box span {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 22.5rem){ /*360px*/
    #title {
        display: none;
    }

    #welcome-box img {
        display: none;
    }    
}