#container.dark {
    background-color: #0A0217;
}

#container.light {
    background-color: #DAD3FB;
}

#container {
    width: 100%;
    min-height: 100vh;
    padding: 6.25rem;
    box-sizing: border-box;
}

#wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

#top-bar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 5rem;
    border-radius: 0.75rem;
    box-sizing: border-box;
}

#top-bar.dark {
    background-color: #100E41;
    border: 0.25rem solid #31246D;
}

#top-bar.light {

}

#compact-nav-items {
    display: none;
}

#compact-nav-categories-dropdown {
    display: none;
}

#compact-menu-icon-div {
    display: none;
}

#title {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    margin-left: 1.5rem;
}

#title.dark {
    color: #FFFFFF;
}

#title.light {

}

#full-bar-nav {
    margin-left: 4.875rem;        
    box-sizing: border-box;    
    height: 100%;
    width: 100%;
}

.full-bar-nav-item-div {
    padding: 0rem 1.5625rem;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: fit-content;
}

.full-bar-nav-item-div span {
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
}

.full-bar-nav-item-div:hover {
    background-color: #31246D;
    cursor: pointer;
}

.full-bar-nav-item-div span.dark {
    color: #FFFFFF;    
}

.full-bar-nav-item-div span.light {

}

#full-bar-nav-categories-dropdown {    
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    flex-direction: column;    
    width: 18.75rem;
}

#full-bar-nav-categories-dropdown.dark {
    background-color: #0A0217;
    border: 4px solid #31246D;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}

#full-bar-nav-categories-dropdown.light {

}

#full-bar-nav-categories-dropdown div {
    
}

#full-bar-nav-categories-dropdown hr {
    margin: 0;
    border-color: #31246D;
    margin: 0 1.5625rem;
}

#full-bar-nav-categories-dropdown div a {
    display: block;
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    font-weight: 500;    
    padding: 1.0625rem 1.5625rem;    
    text-decoration: none;
}

#full-bar-nav-categories-dropdown div a.dark {
    color: #FFFFFF;
}

#full-bar-nav-categories-dropdown div a.dark:hover {
    background-color: #100E41;
}

#full-bar-nav-categories-dropdown div a.light {
    
}

#options-buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-right: 1.5rem;
    gap: 1.5rem;
}

#theme-toggler-bar {
    position: relative;
    width: 1.875rem;
    height: 0.875rem;
    border-radius: 0.75rem;
}

#theme-toggler-bar.dark {
    background-color: #FFFFFF;
}

#theme-toggler-bar.light {

}

#theme-toggler-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
}

#theme-toggler-circle.dark {
    top: -50%;
    left: -50%;
    background-color: #FFFFFF;
}

#theme-toggler-circle.light {
    top: -50%;
    right: 50%;
}

#theme-toggler-circle-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.375rem;
    height: 1.375rem;
    border-radius: 50%;
}

#theme-toggler-circle-center.dark {
    background-color: #000000;
}

#theme-toggler-circle-center.light {

}

#dashboard {
    width: 100%;
    height: 100vh;  
    display: flex;  
    justify-content: center;
    align-items: center;
}

#welcome-box {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    gap: 0.3125rem;
}

#welcome-box span {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

#welcome-box span.dark {
    color: #FFFFFF;
}

#welcome-box span.light {

}

@media only screen and (max-width: 51.25rem){ /*820px*/
    #container {
        width: 100%;
        min-height: 100vh;
        box-sizing: border-box;
        padding: 0;
    }

    #top-bar {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 5rem;    
        border-radius: 0;            
    }

    #compact-menu-icon-div {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 4.5rem;
        cursor: pointer;
    }

    .opened.dark {
        background-color: #31246D;
    }

    #compact-nav-items {
        top: 100%;
        left: -0.25rem;
        right: -0.25rem;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: stretch;
    }    

    .compact-nav-item {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 0.75rem;
        padding: 1.5625rem 1.5625rem;
        box-sizing: border-box;
        border-width: 4px;
        border-style: solid;
        border-bottom: none;
        cursor: pointer;
        z-index: 1;
    }    

    .compact-nav-item:last-child {
        border-bottom: solid;
    }

    .compact-nav-item.dark {        
        background-color: #0A0217;
        border-color: #31246D;        
    }

    .compact-nav-item.dark:hover {        
        background-color: #100E41;
    }

    .compact-nav-item.light {
        
    }

    .compact-nav-item span {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 0.875rem;
    }

    .compact-nav-item span.dark {
        color: #FFFFFF;
    }

    #compact-nav-categories-item {
        display: none;
    }

    #compact-nav-categories-dropdown {
        top: 100%;
        left: -0.25rem;
        right: -0.25rem;
        z-index: 2;
        display: none;
        flex-direction: column;
        position: absolute;        
    }

    #compact-nav-categories-dropdown.dark {
        background-color: #0A0217;
        border: 4px solid #31246D;
    }

    #compact-nav-categories-dropdown div {
    
    }
    
    #compact-nav-categories-dropdown hr {
        margin: 0;
        border-color: #31246D;
        margin: 0 1.5625rem;
    }
    
    #compact-nav-categories-dropdown div a {
        display: block;
        font-family: "Inter", sans-serif;
        font-size: 0.875rem;
        font-weight: 500;    
        padding: 1.0625rem 1.5625rem;    
        text-decoration: none;
    }
    
    #compact-nav-categories-dropdown div a.dark {
        color: #FFFFFF;
    }
    
    #compact-nav-categories-dropdown div a.dark:hover {
        background-color: #100E41;
    }
    
    #compact-nav-categories-dropdown div a.light {
        
    }

    #title {
        font-size: 1.5rem;
        flex-grow: 1;        
    }

    #compact-nav {
        display: flex;
    }
    
    #full-bar-nav {
        display: none;
    }

    #welcome-box img {
        width: 2rem;
        height: 2rem;
    }

    #welcome-box span {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 26.25rem){ /*420px*/
    #title {
        display: none;
    }

    #welcome-box img {
        display: none;
    }    
}