body {
    background-color: #0A0217;
    margin: 0;
}

#login-balloon-container {
    display: flex;   
    justify-content: center;
    align-items: center;             
    width: 100%;
    height: 100vh;
}

#login-balloon-box {
    display: flex;
    flex-flow: column;             
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    max-width: 80%;
    width: 32.5rem;
    height: 26.25rem;
    background-color: #100E41;
    border: 0.25rem solid #31246D;
    padding: 2.25rem;
}

#login-balloon-box h1 {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 2.5em;
    font-weight: 900;
    color: #FFFFFF; 
    padding-top: 0.625rem;
    padding-bottom: 2.8125rem;
}

#login-balloon-box #login-balloon-texts {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#login-balloon-box #login-balloon-texts .text-input-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1E1E1E;
    border: 0.25rem solid #31246D;
    border-radius: 0.75rem;
}

#login-balloon-box #login-balloon-texts .text-input-div button {
    border: 0;
    background-color: rgba(0,0,0,0);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0 0.5625rem;
    height: 100%;
    cursor: pointer;
}

#login-balloon-box #login-balloon-texts .text-input-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.625rem;
}

#login-balloon-box #login-balloon-texts .text-input-label > input {
    font-family: "Inter", sans-serif;
    font-size: 0.975rem;
    background-color: rgba(0,0,0,0);   
    border: 0;
    padding: 0 0.875rem; 
    width: 100%;
    height: 100%;
    color: #FFFFFF;         
}

#login-balloon-box #login-balloon-texts .warning-text {
    padding-top: 0.5rem;
    padding-bottom: 1.6875rem;
    padding-left: 0.9375rem;
}

#login-balloon-box #login-balloon-texts .warning-text > p {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
    color: #FF0000;
}

#login-balloon-box #login-confirmations-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

#one-week-checkbox-div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.5625rem;    
    width: 100%;
    padding-bottom: 1.25rem;
}

#one-week-checkbox-div > span {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
    color: #FFFFFF
}

#one-week-checkbox-label  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.75rem;
    height: 0.75rem;
    border: 0.25rem solid #31246D;
    border-radius: 0.25rem;
    cursor: pointer;
}

#one-week-checkbox-label > input {
    width: 100%;
    height: 100%;
    margin: 0;  
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.unchecked-checkbox {
    background-color: #000000;
}

.checked-checkbox {
    background-color: #31246D;
}

#login-button-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    height: 3.75rem;
    border: 0.25rem solid #31246D;
    background-color: #31246D;
    border-radius: 0.75rem;
    cursor: pointer;
}

#login-button-label > button {    
    background-color: rgba(0,0,0,0);   
    border: 0;    
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

#login-button-label > button > span {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
    cursor: pointer;
}