body {    
    position: relative;
    margin: 0;
}

.dark.background {
    background-color: #0A0217;
}

.light.background {
    background-color: #DAD3FB;
}

#login-error-div {
    position: absolute;
    z-index: 100;
    display: flex;   
    justify-content: center;
    align-items: center;             
    width: 100%;
    height: 100vh;
    background: rgba(49, 36, 109, 0.2);
    backdrop-filter: blur(0.25rem);
}

#login-error-internal-box.dark {
    background-color: #100E41;
    border: 0.25rem solid #FF0000;
}

#login-error-internal-box.light {
    background-color: #C8BEF9;
    border: 0.25rem solid #FF0000;
}

#login-error-internal-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 75%;
    width: 26.25rem;
    height: 20rem;
    background-color: #100E41;
    border: 0.25rem solid #FF0000;
    border-radius: 0.75rem;
    padding: 2.25rem;
}

#login-error-internal-box > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5625rem;
}

#login-error-internal-box > div > img {
    padding: 0.125rem;
}

#login-error-internal-box-title.dark {
    color: #FFFFFF;
}

#login-error-internal-box-title.light {
    color: #000000;
}

#login-error-internal-box-title {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 1.5em;
    font-weight: 900;
}

#login-error-internal-box-message-paragraph.dark {
    color: #FFFFFF;
}

#login-error-internal-box-message-paragraph.light {
    color: #000000;
}

#login-error-internal-box-message-paragraph {
    text-align: center;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
}

#login-error-internal-box-button.dark {
    background-color: #31246D;
    border: 0.25rem solid #FFFFFF;  
}

#login-error-internal-box-button.light {
    background-color: #A294E1;
    border: 0.25rem solid #000000;  
}

#login-error-internal-box-button {
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0.75rem;
    width: 100%;
    height: 3.75rem;
    box-sizing: border-box;
    cursor: pointer;
}

#login-error-internal-box-button-span.dark {
    color: #FFFFFF;
}

#login-error-internal-box-button-span.light {
    color: #000000;
}

#login-error-internal-box-button-span {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

#login-balloon-container {
    display: flex;   
    justify-content: center;
    align-items: center;             
    width: 100%;
    height: 100vh;
}

#login-balloon-box.dark {
    background-color: #100E41;
    border: 0.25rem solid #31246D;
}

#login-balloon-box.light {
    background-color: #C8BEF9;
    border: 0.25rem solid #8882BC;
}

#login-balloon-box {
    display: flex;
    flex-flow: column;             
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    max-width: 80%;
    width: 32.5rem;
    height: 26.25rem;    
    padding: 2.25rem;
}

#title.dark {
    color: #FFFFFF;         
}

#title.light {
    color: #000000;
}

#title {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 2.5em;
    font-weight: 900;
}

#theme-toggler-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1.75rem;
}

#theme-toggler-div > label {
    position: absolute;
}

#theme-toggler-input {
    position: absolute;
    width: 100%;    
    height: 100%;
    margin: 0;  
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

#theme-toggler-bar.dark {
    background-color: #31246D;
}

#theme-toggler-bar.light {
    background-color: #8882BC;
}

#theme-toggler-bar {
    position: relative;
    width: 1.875rem;
    height: 0.875rem;
    border-radius: 0.75rem;
}

#theme-toggler-circle.dark {
    left: -50%;
    top: -50%;
    background-color: #1E1E1E;
    border: 0.25rem solid #31246D;
}

#theme-toggler-circle.light {
    left: 50%;
    top: -50%;
    background-color: #A294E1;
    border: 0.25rem solid #8882BC;
}

#theme-toggler-circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.25rem;
    height: 1.25rem;    
    border-radius: 50%;
    cursor: pointer;
}

#login-balloon-texts {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dark.text-input-div {
    background-color: #1E1E1E;
    border: 0.25rem solid #31246D;
}

.light.text-input-div {
    background-color: #C6BDF2;
    border: 0.25rem solid #8882BC;
}

#login-balloon-texts .text-input-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.75rem;
}

#login-balloon-texts .text-input-div button {
    border: 0;
    background-color: rgba(0,0,0,0);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0 0.5625rem;
    height: 100%;
    cursor: pointer;
}

#login-balloon-texts .text-input-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.625rem;
}

.dark.text-input{
    color: #FFFFFF;         
}

.light.text-input{
    color: #000000;         
}

#login-balloon-texts .text-input-label > input {
    font-family: "Inter", sans-serif;
    font-size: 0.975rem;
    background-color: rgba(0,0,0,0);   
    border: 0;
    padding: 0 0.875rem; 
    width: 100%;
    height: 100%;
}

#login-balloon-texts .warning-text {
    padding-top: 0.5rem;
    padding-bottom: 1.6875rem;
    padding-left: 0.9375rem;
}

#login-balloon-texts .warning-text > p {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
    color: #FF0000;
}

#login-confirmations-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

#one-week-checkbox-div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.5625rem;    
    width: 100%;
    padding-bottom: 1.25rem;
}

#one-week-reminder-text.dark {
    color: #FFFFFF
}

#one-week-reminder-text.light {
    color: #000000
}

#one-week-reminder-text {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
}

#one-week-checkbox-label.dark {
    border: 0.25rem solid #31246D;
}

#one-week-checkbox-label.light {
    border: 0.25rem solid #8882BC;
}

#one-week-checkbox-label  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.75rem;
    height: 0.75rem;    
    border-radius: 0.25rem;
    cursor: pointer;
}

#one-week-checkbox-label > input {
    width: 100%;
    height: 100%;
    margin: 0;  
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

#one-week-checkbox-label.dark.unchecked {
    background-color: #000000;
}

#one-week-checkbox-label.dark.checked {
    background-color: #31246D;
}

#one-week-checkbox-label.light.unchecked {
    background-color: #C6BDF2;
}

#one-week-checkbox-label.light.checked {
    background-color: #8882BC;
}

#login-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-button-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    height: 3.75rem;
    border-radius: 0.75rem;
}

#login-button-label > button.dark{
    border: 0.25rem solid #31246D;
    background-color: #31246D;
}

#login-button-label > button.light{
    border: 0.25rem solid #A294E1;
    background-color: #8882BC;
}

#login-button-label > button {    
    background-color: rgba(0,0,0,0);   
    border: 0;    
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

#login-button-label > button:disabled {    
    cursor: not-allowed;
}

#login-button-label > button:disabled.dark {    
    background-color: #493B8A;
}

#login-button-label > button:disabled.light {    
    background-color: #D3CDF1;
}

#login-button-not-clicked-status > span {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

#login-button-not-clicked-status > span.dark {
    color: #FFFFFF;
}

#login-button-not-clicked-status > span.light {
    color: #000000;
}

#login-button-not-clicked-status {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-button-clicked-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.3125rem;
}

#login-button-clicked-status > img {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#login-button-clicked-status > span {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

#login-button-clicked-status > span.dark {
    color: #FFFFFF;
}

#login-button-clicked-status > span.light {
    color: #000000;
}