#top-bar-nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 5rem;
    border-radius: 0.75rem;
    box-sizing: border-box;
}

#top-bar-nav.dark {
    background-color: #100E41;
    border: 0.25rem solid #31246D;
}

#top-bar-nav.light {
    background-color: #C8BEF9;
    border: 0.25rem solid #8882BC;
}

#compact-nav-items {
    display: none;
}

#compact-nav-categories-dropdown {
    display: none;
}

#compact-menu-icon-div {
    display: none;
}

#title {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    margin-left: 1.5rem;
}

#title.dark {
    color: #FFFFFF;
}

#title.light {
    color: #000000;
}

#full-bar-nav {
    margin-left: 4.875rem;        
    box-sizing: border-box;    
    height: 100%;
    width: 100%;
}

.full-bar-nav-item-div {
    padding: 0rem 1.5625rem;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: fit-content;
    cursor: pointer;
}

.full-bar-nav-item-div span {
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
}

.full-bar-nav-item-div:hover.dark {
    background-color: #31246D;    
}

.full-bar-nav-item-div:hover.light {
    background-color: #8882BC;    
}

.full-bar-nav-item-div span.dark {
    color: #FFFFFF;    
}

.full-bar-nav-item-div span.light {
    color: #000000
}

#full-bar-nav-categories-dropdown {    
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    flex-direction: column;    
    width: 18.75rem;
}

#full-bar-nav-categories-dropdown.dark {
    background-color: #0A0217;
    border: 4px solid #31246D;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}

#full-bar-nav-categories-dropdown.light {
    background-color: #DAD3FB;
    border: 4px solid #8882BC;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}

#full-bar-nav-categories-dropdown hr.dark {
    border-color: #31246D;
    margin: 0 1.5625rem;
}

#full-bar-nav-categories-dropdown hr.light {
    border-color: #8882BC;
    margin: 0 1.5625rem;
}

#full-bar-nav-categories-dropdown div a {
    display: block;
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    font-weight: 500;    
    padding: 1.0625rem 1.5625rem;    
    text-decoration: none;
}

#full-bar-nav-categories-dropdown div a.dark {
    color: #FFFFFF;
}

#full-bar-nav-categories-dropdown div a.dark:hover {
    background-color: #100E41;
}

#full-bar-nav-categories-dropdown div a.light {
    color: #000000;
}

#full-bar-nav-categories-dropdown div a.light:hover {
    background-color: #C8BEF9;
}

#options-buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
    height: 100%;
}

#profile-menu-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 100%;    
}

#profile-menu-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#profile-menu-welcome-div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

#profile-menu {
    position: absolute;
    top: 100%;
    border-width: 0.25rem;
    border-radius: 0.75rem;
    border-style: solid;
    width: max-content;
    right: -0.25rem;   
    display: none; 
    flex-direction: column;
    justify-content: start;
    align-items: end;
}

#profile-menu.dark {
    background-color: #0A0217;
    border-color: #FFFFFF;
}

#profile-menu.light {
    background-color: #DAD3FB;
    border-color: #000000;
}

#profile-menu div {
    padding: 1.5625rem;
}

#profile-menu a {
    padding: 1.5625rem;
}

#profile-menu div span {
    font-family: "Inter", sans-serif;    
}

#profile-menu-welcome-div:hover {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

#profile-menu-welcome-div.dark:hover {
    background-color: #100E41;
}

#profile-menu-welcome-div.light:hover {
    background-color: #C8BEF9;
}

#profile-menu-welcome-message-prefix {
    font-weight: 400;
}

#profile-menu-welcome-message-username {
    font-weight: 500;
}

#profile-menu-welcome-message-suffix {
    font-weight: 400;
}

#profile-menu div span.dark {
    color: #FFFFFF;
}

#profile-menu div span.light {
    color: #000000;
}

#profile-menu hr {
    width: -webkit-fill-available;
    margin: 0 1.5625rem;
}

#profile-menu hr.dark {
    border-color: #FFFFFF;
}

#profile-menu hr.light {
    border-color: #000000;
}

#profile-menu-logoff-anchor {
    text-align: end;
    align-self: stretch;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #FF0000;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

#profile-menu-logoff-anchor:hover {
    background-color: #410E0F;
}

@media only screen and (max-width: 51.25rem){ /*820px*/
    #profile-menu {
        left: -0.25rem;
        width: 100%;
        border-radius: 0;
    }

    #container {
        width: 100%;
        min-height: 100vh;
        box-sizing: border-box;
        padding: 0;
    }

    #top-bar-nav {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 5rem;    
        border-radius: 0;            
    }

    #compact-menu-icon-div {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 4.5rem;
        cursor: pointer;
    }

    .opened.dark {
        background-color: #31246D;
    }

    .opened.light {
        background-color: #8882BC;
    }

    #compact-nav-items {
        top: 100%;
        left: -0.25rem;
        right: -0.25rem;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: stretch;
    }    

    .compact-nav-item {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 0.75rem;
        padding: 1.5625rem 1.5625rem;
        box-sizing: border-box;
        border-width: 4px;
        border-style: solid;
        border-bottom: none;
        cursor: pointer;
        z-index: 1;
    }    

    .compact-nav-item:last-child {
        border-bottom: solid;
    }

    .compact-nav-item.dark {        
        background-color: #0A0217;
        border-color: #31246D;        
    }

    .compact-nav-item.dark:hover {        
        background-color: #100E41;
    }

    .compact-nav-item.light {
        background-color: #DAD3FB;
        border-color: #8882BC;  
    }

    .compact-nav-item.light:hover {        
        background-color: #C8BEF9;
    }    

    .compact-nav-item span {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 0.875rem;
    }

    .compact-nav-item span.dark {
        color: #FFFFFF;
    }

    .compact-nav-item span.light {
        color: #000000;
    }

    #compact-nav-categories-item {
        display: none;
    }

    #compact-nav-categories-dropdown {
        top: 100%;
        left: -0.25rem;
        right: -0.25rem;
        z-index: 2;
        display: none;
        flex-direction: column;
        position: absolute;        
    }

    #compact-nav-categories-dropdown.dark {
        background-color: #0A0217;
        border: 4px solid #31246D;
    }

    #compact-nav-categories-dropdown.light {
        background-color: #DAD3FB;
        border: 4px solid #8882BC;
    }
    
    #compact-nav-categories-dropdown hr.dark {
        border-color: #31246D;
        margin: 0 1.5625rem;
    }

    #compact-nav-categories-dropdown hr.light {
        border-color: #8882BC;
        margin: 0 1.5625rem;
    }
    
    #compact-nav-categories-dropdown div a {
        display: block;
        font-family: "Inter", sans-serif;
        font-size: 0.875rem;
        font-weight: 500;    
        padding: 1.0625rem 1.5625rem;    
        text-decoration: none;
    }
    
    #compact-nav-categories-dropdown div a.dark {
        color: #FFFFFF;
    }
    
    #compact-nav-categories-dropdown div a.dark:hover {
        background-color: #100E41;
    }
    
    #compact-nav-categories-dropdown div a.light {
        color: #000000;
    }

    #compact-nav-categories-dropdown div a.light:hover {
        background-color: #C8BEF9;
    }

    #title {
        font-size: 1.5rem;
        flex-grow: 1;        
    }

    #compact-nav {
        display: flex;
    }
    
    #full-bar-nav {
        display: none;
    }

    #profile-menu-welcome-div {
        justify-content: end;
        align-self: stretch;
    }
}

@media only screen and (max-width: 26.25rem){ /*420px*/
    #title {
        display: none;
    }
}